.app-sidebar,.inputbusquedas,.navbar,.card-title,.btn,footer{
	display: none;
}
.main-panel .main-content{
	padding-left: 0px;
}
.dataTables_length,.dataTables_filter,.paging_simple_numbers,.dataTables_info{
	display: none;
}